{% extends 'base.html' %}
{% load static %}
{% load bootstrap5form %}

{% block content %}    
    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shop__sidebar">
                        <div class="shop__sidebar__search">
                            <form method="GET">
                                {{ my_filter.form|bootstrap5form }}                               
                                <input type="submit" value="search" class="boxed-btn3 w-100">  
                            </form>
                        </div>                     
                        <div class="shop__sidebar__accordion">
                            <div class="accordion" id="accordionExample">
                            
                         
                           
                              
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                                             
                        {% for products in product_list %}  
                        {% if products.PRDdiscountprice %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item sale">
                                <div class="product__item__pic set-bg" data-setbg="{{products.PRDbase_productimage.url}}">
                                    <span class="label">Sale</span>
                                    <ul class="product__hover">
                                        <li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
                                        <li><a href="#"><img src="img/icon/compare.png" alt=""> <span>Compare</span></a>
                                        </li>
                                        <li><a href="#"><img src="img/icon/search.png" alt=""></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>{{products.PRDname}}</h6>
                                    <a href="#" class="add-cart" value="{{products.id}}" id="add-cart">+ Add To Cart</a>                                  
                                    <h5>${{products.PRDdiscountprice}}</h5>
                                    <strike>${{products.PRDprice}}</strike>
                                    <div class="product__color__select">
                                        <label for="pc-16">
                                            <input type="radio" id="pc-16">
                                        </label>
                                        <label class="active black" for="pc-17">
                                            <input type="radio" id="pc-17">
                                        </label>
                                        <label class="grey" for="pc-18">
                                            <input type="radio" id="pc-18">
                                        </label>
                                    </div>
                                </div> 
                                <div class="view_product">
                                    <a href="{%url 'product_list:product_detail' products.slug%}">View Product</a>
                                </div>
                            </div>                          
                        </div>                      
                        {% else %}                                                
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{products.PRDbase_productimage.url}}">
                                    <ul class="product__hover">
                                        <li><a href="#"><img src="{%static 'img/icon/heart.png' %}" alt=""></a></li>
                                        <li><a href="#"><img src="{%static 'img/icon/compare.png' %}" alt=""> <span>Compare</span></a>
                                        </li>
                                        <li><a href="#"><img src="{%static 'img/icon/search.png' %}" alt=""></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>{{products.PRDname}}</h6>
                                    <a href="#" class="add-cart" value="{{products.id}}" id="add-cart">+ Add To Cart</a>                             
                                   <h5>${{products.PRDprice}}</h5>
                                    <div class="product__color__select">
                                        <label for="pc-4">
                                            <input type="radio" id="pc-4">
                                        </label>
                                        <label class="active black" for="pc-5">
                                            <input type="radio" id="pc-5">
                                        </label>
                                        <label class="grey" for="pc-6">
                                            <input type="radio" id="pc-6">
                                        </label>
                                    </div>
                                </div>
                                <div class="view_product">
                                    <a href="{%url 'product_list:product_detail' products.slug%}">View Product</a>
                                </div>
                            </div>
                        </div>
                        {% endif %} 
                        {% endfor %}

                    </div> 
                    <div class="container ">
                        <div class="row">
                            
                            {% if product_list.has_other_pages %}                                                                                  
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    
                                    {% if product_list.has_previous %}                                                                                                                
                                    <li class="page-item"><a class="page-link" href="?page={{product_list.previous_page_number}}">Previous</a></li>
                                    {% endif %}
                                    

                                    {% for i in product_list.paginator.page_range %}                                                                                                  
                                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                                    {% endfor %}


                                    {% if product_list.has_next %}                                                                                            
                                    <li class="page-item"><a class="page-link" href="?page={{product_list.next_page_number}}">Next</a></li>
                                    {% endif %}
                                </ul>
                            </nav>
                            {% endif %}
                        </div>
                    </div>                   
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->



{% endblock content %}


