{% extends 'base.html' %} 

    
    

{% block content %}      
    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="contact__text">
                        <div class="section-title">
                            <span>Information</span>
                            <h2>Contact Us</h2>
                            <p>{{contact.CONdescription}}
                                </p>
                        </div>
                        <ul>
                            <li>
                                <h4>{{contact.CONcountry1}}</h4>
                                <p>{{contact.CONaddress1}}<br />{{contact.CONphone_number1}}</p>
                            </li>
                            <li>
                                <h4>{{contact.CONcountry2}}</h4>
                                <p> {{contact.CONaddress2}}<br />{{contact.CONphone_number2}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="contact__form">
                        <form method="POST">                       
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="text" placeholder="Subject" name="subject">
                                </div>
                                <div class="col-lg-6">
                                    <input type="email" placeholder="Email" name="email">
                                </div>
                                <div class="col-lg-12">
                                    <textarea placeholder="Message" name="message"></textarea>
                                    <button type="submit" class="site-btn">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->
{% endblock content %}